{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estimations-Page</title>
    <!-- CSS-FILE-LIKED -->
    <!-- <link rel="stylesheet" href="{% static 'css/home.css'    %}"> -->
    <!-- BOOTSTRAP-5-CSS-FILE-LIKED -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <!-- BOOTSTRAP-5-JS-FILE-LIKED -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.5.0/semantic.min.css" integrity="sha512-KXol4x3sVoO+8ZsWPFI/r5KBVB/ssCGB5tsv2nVOKwLg33wTFP3fmnXa47FdSVIshVTgsYk/1734xSk9aFIa4A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body class="bg-dark text-white">
    <center>
        <h1>Hi.. Friends! Welcomes you the <code>ESTIMATIONS</code> Page!</h1>
    </center>
    
    <table class="table text-white border">
        <tr>
            <th>name</th>
            <th>qualification</th>
            <th>passedout</th>
            <th>city</th>
            <th>mobile</th>
        </tr>
        {%  for s in allstudents  %}
        <tr>
            <td>{{s.name}}</td>
            <td>{{s.qualification}}</td>
            <td>{{s.passedout}}</td>
            <td>{{s.city}}</td>
            <td>{{s.mobile}}</td>
        </tr>
        {%  endfor  %}

    </table>
   

    
    

    




</body>
</html>